<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Changes</title>
</head>
<body>
    <h1>Link Changes</h1>
    <form action="<%= `/link/edit/${qrCode._id}` %>" method="POST">
        <label for="link">Link:</label>
        <input type="text" id="link" name="link" value="<%= qrCode.content %>">
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>