<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR code Generator</title>
</head>
<body>
    <h1>QR code Generator</h1>
    <h2>Type of QR code data</h2>
    <form action="/qr_generate" method="POST">
        <button type="submit" name="generate" value="Generate QR code">Generate QR code</button>
    </form>
</body>
</html>
