<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link QR code</title>
</head>
<body>
    <h1>Link QR code</h1>
    <form action="/link/generate" method="POST">
        <input type="text" name="link" id="link" placeholder="Enter your link">
        
        <button type="submit" name="generate" value="Generate QR code">Generate QR code</button>
    </form>
    
</body>
</html>