<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text</title>
</head>
<body>
    <h1>Text</h1>
    <form action="/text/generate" method="POST">
        <input type="text" name="text" id="text" placeholder="Enter your text">
        <button type="submit" name="generate" value="Generate QR code">Generate QR code</button>
    </form>

</body>
</html>