.blankLine {
  margin: 0;
}
.unlockYourPontentialContainer {
  position: relative;
  line-height: 120%;
  font-weight: 800;
  background: linear-gradient(#53a0f2, #53a0f2), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experienceThePower {
  width: 664px;
  position: relative;
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  font-family: var(--heading-h6);
  display: inline-block;
  height: 79px;
  flex-shrink: 0;
}
.header {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 27.75px;
  gap: var(--gap-8xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--black);
  font-family: var(--font-lato);
}
@media screen and (max-width: 960px) {
  .unlockYourPontentialContainer {
    font-size: var(--font-size-31xl);
    line-height: 70px;
  }
  .experienceThePower {
    font-size: var(--font-size-mid);
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .unlockYourPontentialContainer {
    font-size: var(--heading-h3-size);
    line-height: 50px;
  }
  .experienceThePower {
    font-size: var(--font-size-sm);
  }
  .header {
    padding-left: 0;
    box-sizing: border-box;
  }
}
