.learnMore {
  position: relative;
  font-weight: 700;
}
.aboutQreactive,
.contactUs {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
  color: var(--color-darkgray);
  text-align: left;
  display: inline-block;
}
.aboutQreactive:hover,
.contactUs:hover {
  color: var(--color-mistyrose);
}
.contactUs {
  height: 17px;
}
.column1 {
  flex-direction: column;
  gap: var(--gap-6xl);
}
.column1,
.column3,
.links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column3 {
  flex-direction: column;
  gap: 24px;
}
.links {
  flex-direction: row;
  gap: var(--gap-81xl);
}
.byMyteam {
  width: 139px;
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  display: inline-block;
}
.fashion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.facebookIcon {
  position: absolute;
  height: 54.42%;
  width: 25.4%;
  top: 25.1%;
  right: 36.2%;
  bottom: 20.48%;
  left: 38.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.facebook {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 49.8px;
  width: 50px;
  position: relative;
}
.facebook:hover,
.instagram:hover {
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-slateblue);
  box-sizing: border-box;
}
.instagramIcon,
.twitterIcon {
  position: absolute;
  height: 39.96%;
  width: 48.4%;
  top: 29.92%;
  right: 26.6%;
  bottom: 30.12%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instagramIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.instagram {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 50px;
  position: relative;
  height: 49.8px;
}
.logos {
  align-items: flex-start;
  gap: 15px;
}
.innerfooter,
.innerfooter2,
.logos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.innerfooter2 {
  align-items: center;
  gap: 300px;
  text-align: center;
  font-size: 30px;
  color: var(--color-white);
}
.innerfooter {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-start;
  gap: 120px;
}
.qreactiveCompanyPrivacy {
  position: relative;
}
.footer,
.source {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-31xl);
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.footer {
  justify-content: center;
  width: 100%;
  background-color: #081a51;
  align-items: center;
  padding: var(--padding-11xl) 75px 110px;
  box-sizing: border-box;
  gap: 10px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gainsboro);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1200px) {
  .innerfooter,
  .innerfooter2 {
    gap: var(--gap-31xl);
  }
  .innerfooter {
    flex-direction: row;
  }
  .source {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
    padding-top: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .links {
    flex-direction: row;
    gap: var(--gap-81xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .innerfooter2,
  .logos {
    padding-right: 0;
    box-sizing: border-box;
  }
  .innerfooter2 {
    gap: var(--gap-31xl);
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
  }
  .innerfooter,
  .innerfooter2 {
    flex-direction: column;
  }
  .source {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0;
    padding-top: var(--padding-31xl);
    padding-right: 0;
    box-sizing: border-box;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 420px) {
  .links {
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-31xl);
  }
  .innerfooter2 {
    padding-left: 25%;
  }
  .footer,
  .innerfooter2,
  .source {
    box-sizing: border-box;
  }
  .source {
    flex-direction: row;
    padding-left: 0;
    padding-top: var(--padding-31xl);
  }
  .footer {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
  }
}