.joinTheRevolution,
.typeYourEmail {
  align-self: stretch;
  position: relative;
}
.joinTheRevolution {
  letter-spacing: -0.07em;
  line-height: 65px;
  font-weight: 800;
}
.typeYourEmail {
  font-size: var(--heading-h5-size);
  letter-spacing: 0.03em;
  line-height: 26.25px;
  color: var(--color-snow);
}
.join {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xl);
}
.addYourEmail {
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--text-medium-normal-size);
  background-color: transparent;
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 26.25px;
  color: var(--color-gray-100);
  text-align: left;
}
.addYourEmail:focus {
  outline: 0;
}
.send {
  position: relative;
  font-size: var(--font-size-5xl-8);
  letter-spacing: 0.03em;
  line-height: 26.25px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--heading-h6);
  color: var(--white);
  text-align: left;
}
.button,
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-7xl);
  background-color: var(--black);
  border-radius: var(--br-7xs);
  justify-content: center;
}
.button:hover {
  background-color: var(--color-darkslategray-100);
}
.form {
  width: 419.8px;
  border-radius: var(--br-5xs-5);
  background-color: var(--white);
  height: 65px;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.qreactiveCompanyPrivacy {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
  text-align: left;
}
.community,
.communityInner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.communityInner {
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.community {
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-92xl) 341.2900085449219px;
  background-image: url(/community@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-77xl);
  color: var(--white);
  font-family: var(--heading-h6);
}
@media screen and (max-width: 1200px) {
  .community {
    padding-left: var(--padding-181xl);
    padding-right: var(--padding-181xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .joinTheRevolution {
    font-size: var(--font-size-16xl);
    line-height: 40px;
  }
  .addYourEmail,
  .typeYourEmail {
    font-size: var(--font-size-mini);
  }
  .addYourEmail {
    width: calc(100% - 120px);
  }
  .send {
    font-size: var(--heading-h6-size);
  }
  .form {
    width: 70%;
  }
  .community {
    padding-left: var(--padding-36xl);
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .joinTheRevolution {
    font-size: var(--font-size-11xl);
    line-height: 30px;
  }
  .typeYourEmail {
    font-size: var(--font-size-smi);
    line-height: 16px;
  }
  .button {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .form {
    width: 100%;
  }
  .community {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
