@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;
  --heading-h6: Roboto;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-5xl-8: 24.8px;
  --heading-h6-size: 20px;
  --text-medium-normal-size: 18px;
  --font-size-mini: 15px;
  --heading-h5-size: 24px;
  --font-size-smi: 13px;
  --font-size-77xl: 96px;
  --font-size-16xl: 35px;
  --font-size-11xl: 30px;
  --text-regular-normal-size: 16px;
  --font-size-mid: 17px;
  --heading-h3-size: 40px;
  --font-size-31xl: 50px;
  --font-size-29xl: 48px;

  /* Colors */
  --white: #fff;
  --black: #000;
  --color-darkslategray-100: #3e3a3a;
  --color-darkslategray-200: #1f314d;
  --color-gray-100: #767676;
  --color-gray-200: #172740;
  --color-snow: #fffcf8;
  --color-cornflowerblue-100: #53a0f2;
  --color-cornflowerblue-200: #1262b8;
  --color-gainsboro-100: #e4e8e6;
  --color-gainsboro: #e0e0e0;
  --color-whitesmoke: #f4f6f5;
  --color-darkslateblue-100: #18589c;
  --color-darkslateblue-200: #155396;

  /* Gaps */
  --gap-lg: 18px;
  --gap-xl: 20px;
  --gap-9xl: 28px;
  --gap-19xl: 38px;
  --gap-8xl: 27px;
  --gap-3xs: 10px;
  --gap-61xl: 80px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-6xl-5: 25.5px;

  /* Paddings */
  --padding-92xl: 111px;
  --padding-322xl-3: 341.3px;
  --padding-181xl: 200px;
  --padding-36xl: 55px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-7xl: 26px;
  --padding-56xl: 75px;
  --padding-25xl: 44px;
  --padding-21xl: 40px;
  --padding-32xl: 51px;
  --padding-11xs: 2px;
  --padding-8xl-8: 27.8px;
  --padding-93xl: 112px;
  --padding-45xl: 64px;
  --padding-xs: 12px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-5xs-5: 7.5px;
  --br-7xs: 6px;
  --br-25xl-3: 44.3px;
  --br-11xl: 30px;
}
