.unlockThePower {
  margin: 0;
}
.unlockThePowerContainer {
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.discoverTheConvenienceContainer {
  position: relative;
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  color: var(--color-gainsboro);
}
.convenience {
  width: 122px;
  position: relative;
  line-height: 140%;
  font-weight: 700;
  display: inline-block;
  height: 28px;
  flex-shrink: 0;
}
.text {
  position: relative;
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  color: var(--white);
}
.contain {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.contentRow,
.herocta {
  display: flex;
  gap: var(--gap-8xl);
}
.contentRow {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--heading-h6-size);
  color: var(--color-cornflowerblue-200);
}
.herocta {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 27.75px;
}
.placeholderImageIcon {
  height: auto;
  width: 484.3px;
  position: relative;
  border-radius: var(--br-11xl);
  object-fit: cover;
}
.heroSection {
  align-self: stretch;
  border-radius: 44.26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50.9900016784668px var(--padding-21xl) var(--padding-11xs);
  gap: var(--gap-19xl);
  text-align: left;
  font-size: var(--heading-h3-size);
  color: var(--color-cornflowerblue-100);
  font-family: var(--heading-h6);
}
@media screen and (max-width: 1200px) {
  .herocta {
    flex: unset;
    align-self: stretch;
  }
  .placeholderImageIcon {
    max-width: 80%;
  }
  .heroSection {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .unlockThePowerContainer {
    font-size: var(--font-size-31xl);
    line-height: 70px;
  }
  .convenience,
  .discoverTheConvenienceContainer {
    font-size: var(--font-size-mid);
    width: 100%;
  }
  .contain {
    flex: unset;
    align-self: stretch;
  }
  .contentRow {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .unlockThePowerContainer {
    font-size: var(--heading-h3-size);
    line-height: 50px;
    text-align: left;
  }
  .convenience,
  .discoverTheConvenienceContainer {
    font-size: var(--font-size-sm);
  }
  .contentRow,
  .herocta {
    padding-left: 0;
    box-sizing: border-box;
  }
}
